*.pdb
*.exe
*.lock
*.suo
*.cache
*.tlog
*.dll
Debug
Release
*.lastbuildstate
obj
.vs
obj\debug

// Project's specific files
BinarySearchAlgo/obj/*.*
LinkedListAlgo/obj/*.*
QueueAlgo/obj/*.*
StackAlgo/obj/*.*
BinarySearchAlgo/obj/*.*
PrismWpfDemo/obj/*.*

// Project's packages
PrismWpfDemo/packages/*.*
QueueAlgo/obj/Debug/QueueAlgo.csproj.FileListAbsolute.txt
